h1 {
  text-align: center;
}

a {
  font-size: 32px;
  color: black;
  text-decoration: none;
}

p {
  /* font-size: 40px; */
  text-align: center;
}

.main_image {
  width: 400px;
  margin: 0 auto;
}

.main_container {
  display: flex;
  justify-content: center;
}

.top {
  width: 600px;
}

.button {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: 300px;
  border: solid;
  padding: 0;
}

td {
  border: solid 1px;
  border-collapse: separate;
}

.main_screen {
  width: 1400px;
  height: 450px;
  border: solid;
  margin: 10px auto;
  display: flex;
}
.character_items {
  display: flex;
  justify-content: center;
}

.character_image {
  width: 100px;
}

.my_character {
  display: flex;
  width: 400px;
  height: 450px;
}

.battle_area {
  width: 600px;
  height: 450px;
  border: solid 1px;
}

.enemy_character {
  display: flex;
  width: 400px;
  height: 450px;
}
